.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.inputContainer input {
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 3px;
    height: 22.5px;
    padding: 5px 10px
}